<h1> Event summary</h1>
<div class="info">
{{event.location}}
</div>
<div class="info">
{{event.date}}
</div>
<div class="row" >
	<div class="col-1 col-lg-4 col-md-3 col-sm-1"></div>
	<div class="col-10 col-lg-4 col-md-6 col-sm-10">
		<img class="event-image" mat-card-image [src]="event.image" alt="">
	</div>
	<div class="col-1 col-lg-4 col-md-3 col-sm-1"></div>
</div>
<hr/>
<h2> Participants </h2>
<div class=" pickers-list">
	<div class="row" >
		<div class="col-1 col-lg-4 col-md-3 col-sm-1"></div>
		<div class="col-10 col-lg-4 col-md-6 col-sm-10">
			<div class="avatars">
				<div *ngFor="let person of event.people" class="avatar-holder">
					<img [src]="person.image" class="avatar">
					<br/>
					<label class="avatar-name">{{person.name}}</label>
				</div>
			</div>
			<br/>
			<button mat-raised-button class="button pay-button" [routerLink]="['/event_summary']">Pay using WP</button>
		<div class="col-1 col-lg-4 col-md-3 col-sm-1"></div>
	</div>
</div>	

<hr/>
<h2> Actions </h2>
<div class="row" >
	<div class="col-1 col-lg-4 col-md-3 col-sm-1"></div>
	<div class="col-10 col-lg-4 col-md-6 col-sm-10">
		<mat-card class="inactive">
			<div class="left">
				Base score
			</div>
			<div class="right">
				{{event["base-score"] | number :'1.0-1'}}
			</div>
		</mat-card>
		<mat-card *ngFor="let item of event.active_scores" class="active" [ngClass]="{'done' : item.done}" (click)="item.done=true; calculate_total_score()">
			<!-- [ngClass]="'done' if item.done ? 'not-done'" -->
			<div class="left">
				{{item.name}}
			</div>
			<div class="right">
				+ {{item.points | number :'1.0-1'}}
			</div>
		</mat-card>
		<br/>
		<div class="total-score">
			<div class="left">
				&nbsp; &nbsp; Total
			</div>
			<div class="right">
				{{total_score}} &nbsp; &nbsp; 
			</div>
		</div>
	</div>
	<div class="col-1 col-lg-4 col-md-3 col-sm-1"></div>
</div>

<hr/>
<h2> Waste Points Summary </h2>

<h3>Social</h3>
<div class="row" >
	<div class="col-1 col-lg-4 col-md-3 col-sm-1"></div>
	<div class="col-10 col-lg-4 col-md-6 col-sm-10">
		<div *ngFor="let social_item of social_items">
			<mat-card [routerLink]="['/score_item/child_labor']">
				<div class="left">
					{{social_item.name}}
				</div>
				<div class="right">
					{{social_item.points | number :'1.0-1'}} / {{social_item.max_points | number :'1.0-1'}}
				</div>
			</mat-card>
		</div>
		<br/>
		<div class="left">
			&nbsp; &nbsp; Subtotal
		</div>
		<div class="right">
			{{social_items_total | number :'1.0-1'}} / {{social_items_max_total | number :'1.0-1'}} &nbsp; &nbsp; 
		</div>
	</div>
	<div class="col-1 col-lg-4 col-md-3 col-sm-1"></div>
</div>

<h3>Environment</h3>
<div class="row" >
	<div class="col-1 col-lg-4 col-md-3 col-sm-1"></div>
	<div class="col-10 col-lg-4 col-md-6 col-sm-10">
		<div *ngFor="let environment_item of environment_items">
			<mat-card [routerLink]="['/score_item/child_labor']">
				<div class="left">
					{{environment_item.name}}
				</div>
				<div class="right">
					{{environment_item.points | number :'1.0-1'}} / {{environment_item.max_points | number :'1.0-1'}}
				</div>
			</mat-card>
		</div>
		<br/>
		<div class="left">
			&nbsp; &nbsp; Subtotal
		</div>
		<div class="right">
			{{environment_items_total | number :'1.0-1'}} / {{environment_items_max_total | number :'1.0-1'}} &nbsp; &nbsp; 
		</div>
	</div>
	<div class="col-1 col-lg-4 col-md-3 col-sm-1"></div>
</div>

<h3>Impact</h3>
<div class="row" >
	<div class="col-1 col-lg-4 col-md-3 col-sm-1"></div>
	<div class="col-10 col-lg-4 col-md-6 col-sm-10">
		<div *ngFor="let impact_item of impact_items">
			<mat-card [routerLink]="['/score_item/child_labor']">
				<div class="left">
					{{impact_item.name}}
				</div>
				<div class="right">
					{{impact_item.points | number :'1.0-1'}} / {{impact_item.max_points | number :'1.0-1'}}
				</div>
			</mat-card>
		</div>
		<br/>
		<div class="left">
			&nbsp; &nbsp; Subtotal
		</div>
		<div class="right">
			{{impact_items_total | number :'1.0-1'}} / {{impact_items_max_total | number :'1.0-1'}} &nbsp; &nbsp; 
		</div>
	</div>
	<div class="col-1 col-lg-4 col-md-3 col-sm-1"></div>
</div>
<br/>
<hr/>

<div class="row" >
	<div class="col-1 col-lg-4 col-md-3 col-sm-1"></div>
	<div class="col-10 col-lg-4 col-md-6 col-sm-10">
		<br/>
		<button mat-raised-button class="button sell-goods-button" [routerLink]="['/sell_goods']">Sell goods</button>
	</div>
	<!-- <span class="avatar"> + </span> -->
	<div class="col-1 col-lg-4 col-md-3 col-sm-1"></div>
</div>

<br/>
<br/>
