app-header{
	/*height:60px;*/
	width:100%;
	display: block;
}

.content{
	background-image: url("/assets/images/mechpunk logo.jpeg");
	background-size: 100vw 100vh;
	height:calc(100vh - 65px);
	overflow-x: hidden;
}

.content-2{
	background-color: #5555;
	height:calc(100%);
}