.homepage {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.description {
  text-align: center;
}

.chart-container {
  width: 100%;
}

.chart-container p {
  text-align: center;
  font-weight: bold;
}
