
h1{
	text-align: center;
}

h2{
	text-align: center;
}
mat-form-field{
	width:100%;
}
mat-card{
	height:50px;
	margin-bottom: 2px;
}
mat-card:hover{
	background-color:#add;
	cursor: pointer;
}


.pickers-list{
	display: block;
}
.avatar {
  border-radius: 50%;
  width:80px;
  margin:10px;
}
.avatars {
  margin: 0 auto;
}
.avatar-holder{
	/*display:block;*/
	float:left;
	width:100px;
	text-align: center;
}
.avatar-name{
	text-align: center;
	font-weight: bold;
	width:100%;
}

.button{
	width:100%;
}
.create-event-button{
	height:100px;
	background-color:#90EE90;
}