
<!-- <img src="assets/images/bg.jpg"> -->
<div class="row main-div" >
  <div class="col-1 col-md-3 col-sm-1"></div>
	<div class="col-10 col-md-6 col-sm-10">
		<div class="spacer-top"></div>
		<button mat-raised-button [routerLink]="['/login']">Login</button>
		<br/>
		<br/>
		<button mat-raised-button [routerLink]="['/signup']">Sign up</button>
		<br/>
		<br/>
		<button mat-button [matMenuTriggerFor]="menu">English</button>
		<mat-menu #menu="matMenu">
			<button mat-menu-item>English</button>
			<button mat-menu-item>French</button>
			<button mat-menu-item>Chinees</button>
			<button mat-menu-item>Yo mamma</button>
		</mat-menu>
	</div>
  <div class="col-1 col-md-3 col-sm-1"></div>
</div>

