
h1{
	text-align: center;
}

h2{
	text-align: center;
}

mat-form-field{
	width:100%;
}
button{
	width:100%;
}


mat-card{
	height:50px;
	margin-bottom: 2px;
}
mat-card.active:hover{
	background-color:#add;
	cursor: pointer;
}

.pickers-list{
	display: block;
	/*height:150px;*/
	/*overflow-y: scroll;*/
}
.avatar {
  border-radius: 50%;
  width:80px;
  margin:10px;
}
.avatars {
  margin: 0 auto;
}
.avatar-holder{
	/*display:block;*/
	float:left;
	width:100px;
	text-align: center;
}
.avatar-name{
	text-align: center;
	font-weight: bold;
	width:100%;
}

.inactive{
	background-color: #fff1;
}

.left{
	/*display: inline-block;*/
	float:left;
}

.right{
	/*display: inline-block;*/
	float:right;
}

.end-event-button{
	background-color: #daa;
}