<mat-toolbar color="primary">
  <div > <a [routerLink]="back">Back </a></div>
  <span class="spacer"></span>
  <div > <a routerLink="/home">Home </a></div>
<!--   <ul>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/games">Games </a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/auth/signin">Signin </a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/auth/signup">Signup </a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <a mat-button (click)="onSignout()">Signout </a>
    </li>
  </ul>
 -->
</mat-toolbar>