img {
	width: 100%
}
.main-div {
	height:100vh;
	background-color: black;
	background-image: url("/assets/images/bg.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center top;
	/*background: #f00;*/
	/*background-image: 'assets/images/bg.jpg';*/
}
:host {
	/*background-image: url("/assets/images/bg.jpg");*/
}
button{
	width:100%;
}
mat-menu{
	width:100%;
}
.spacer-top{
	height:100px;
}

.mobile-preview{
	width:200px;
	margin-left: calc(50% - 300px)l
}
.mobile-preview-frame{
	width:100%;
	text-align: center;
	color:white;
	font-size: 24px;
}
.select-menu{
	color:white;
}